@import '../styles/all.scss';

.game-text {
    stroke-width: 1.0;
    stroke: #064669;
    fill: #E8EAE9;
    font-family: $font-stack;
    font-size: 25px;
    pointer-events: none;
  }

.score-text {
    fill: $color-complement-4;
    font-family: $font-stack;
    font-size: 10px;
    font-weight: bold;
    pointer-events: none;
  }
  
  .bonus-popup {
    fill: $color-complement-4;
    font-family: $font-stack;
    font-size: 20px;
    pointer-events: none;
  }
  
  .game-svg {
    display: block;
    margin: auto; 
  }

  .game-background {
    fill: $bg-color;
  }